.outer{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap:30px;   
    margin-bottom: 80px;
}

.cardIn{
    border: 3px solid;
    padding: 40px;
    border-radius: 1rem;
}

.cardIn:hover
{
    box-shadow:1px 1px 7px 7px rgb(182, 181, 181);
    background-color: rgb(244, 244, 247);
}

img{
    width: 100px;
    height: 100px;
}

.button{
    margin-left:20px;
}