<BR>
<div class="row">
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/homecard1.webp" >
            <h4>CLASSIC HALL</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/homecard2.jpg" >
            <h4>RAJWADI HALL</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/homecard3.webp" >
            <h4>ELEGANT HALL</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/homecard1.webp" >
            <h4>CLASSIC HALL</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/homecard2.jpg" >
            <h4>RAJWADI HALL</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/homecard3.webp" >
            <h4>ELEGANT HALL</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
</div>
<br>
