<br><div class="">
<div  class="row">
<div class="col-2"></div>
<div class="col-8">
<div id="slider">
    <figure>
        <img src="../../../assets/marriage3.jpeg">
          <img src="../../../assets/birthday1.jpg">
          <img src="../../../assets/birthday2.jpg">
    </figure>
</div>
</div>
<div class="col-2"></div>
</div>
</div>
<br><br>
<div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <h3>WELCOME TO BOOKEASE!!!</h3>
        <h5>BY BOOKERBUDDIES DECORATORS AND CATERERS</h5> <br> 
        <p>WELCOME TO
            BOOKEASE HALL
            BY BOOKERBUDDIES DECORATORS AND CATERERS
            One of the Best Hall in Chennai. BOOKEASE HALL has been into the entire gamut of arranging parties, conference events, seminar, marriage, functions, exhibitions, and can ideally be used as a banquet hall.</p>
    </div>
      <div class="col-5">
        <img  style="width:400px;height:300px; border-radius: 20px;" src="../../../assets/marriage2.jfif" alt="">
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <br> <br>

  
    <div class="row">
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/homecard1.webp" >
                <h4>CLASSIC HALL</h4>
                <p style="padding-left:70px;">200 - 300 Capacity</p> 
                <p style="padding-left:75px;">71 feet x 63 feet</p>
                <button type="button" class="btn btn-primary ">BOOK NOW</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/homecard2.jpg" >
                <h4>RAJWADI HALL</h4>
                <p style="padding-left:70px;">50 - 200 Capacity</p> 
                <p style="padding-left:75px;">67 feet x 54 feet</p>
                <button type="button" class="btn btn-primary ">BOOK NOW</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/homecard3.webp" >
                <h4>ELEGANT HALL</h4>
                <p style="padding-left:70px;">500 - 1200 Capacity</p> 
                <p style="padding-left:75px;">146 feet x 63 feet</p>
                <button type="button" class="btn btn-primary ">BOOK NOW</button>
            </div>
        </div>
    </div>
<br>
   