<!-- <app-nav></app-nav> -->
<!-- <p-button label="Submit"></p-button> -->
<div>
    <nav>
        <ul>
            <li class="title">
                <a>BookEase</a>
            </li>
            <li>
                <a routerLink='register' 
                 routerLinkActive="active">Register</a>
            </li>
            <li>
                <a routerLink='login' routerLinkActive="active">Login</a>
            </li>
            <li *ngIf="isAdminLogedIn()">
                <a routerLink='displaymeetingroom' 
                 routerLinkActive="active">View Halls</a>
            </li>
            <li *ngIf="isAdminLogedIn()">
                <a routerLink='addmeetingroom' 
                 routerLinkActive="active">Add Halls</a>
            </li>
            <li>
                <a routerLink='aboutus'
                 routerLinkActive="active">About us</a>
            </li>
            <li>
                <a routerLink='home' 
                 routerLinkActive="active">Home</a>
            </li>
            <!-- <li *ngIf="isUserLogedIn()"> 
                <a routerLink='aboutus' 
                 routerLinkActive="active">About us</a>
            </li> -->
            <!-- <li *ngIf="isUserLogedIn()"> 
                <a routerLink='client/:id' 
                 routerLinkActive="active">Profile</a>
            </li> -->
            <!-- <li *ngIf="isUserLogedIn()">
                <a routerLink='register' 
                 routerLinkActive="active">Register</a>
            </li> -->
            
           
        </ul>
    </nav>
</div>

<div>
    <router-outlet></router-outlet>
</div>
