
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/marriageimg4.png" >
                <h4>CLASSIC HALL</h4>
                <button type="button" class="btn btn-primary ">EXPLORE >></button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/marriageimg5.avif" >
                <h4>RAJWADI HALL</h4>
                <button type="button" class="btn btn-primary ">EXPLORE >></button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/marriageimg6.jpg" >
                <h4>ELEGANT HALL</h4>
                <button type="button" class="btn btn-primary ">EXPLORE >></button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/marriageimg1.jfif" >
                <h4>House of Worship</h4>
                <button type="button" class="btn btn-primary ">EXPLORE >></button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/marriageimg2.jpg" >
                <h4>Backyard venue</h4>
                <button type="button" class="btn btn-primary ">EXPLORE >></button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cardIn">
                <img class="imgcardsize" src="../../../assets/marriageimg3.jpg" >
                <h4>Beach</h4>
                <button type="button" class="btn btn-primary ">EXPLORE >></button>
            </div>
        </div>
    </div>