.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap:30px;   
    margin-bottom: 50px;
}

.registerForm{
    border: 3px solid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 20px;
    border-radius: 1rem;
}

.registerForm:hover
{
    box-shadow:1px 1px 7px 7px rgb(182, 181, 181);

}
.registerInput {
    width: 220px;
    height: 30px;
    border-radius: 5px;;

}
.registerButton
{
        border: none;
        width: 160px;
        height: 35px;
        background-color: rgb(76, 78, 241);
        border-radius: 10px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        margin-left:33px
}

a{
    padding-left: 10px;
    text-decoration: none;
}

.registerButton:hover{
    background-color: rgb(76, 120, 241);
}
p{
    padding-left: 30px;
}

.loginclass{
    cursor: pointer;
}

