/* body {
    font-family: Montserrat, sans-serif;
  }


  h4{
    color: white;
  }
  .navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  }
  .outer{
  
  } */